.missionsContiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .mission {
        flex-basis: 45%;
        padding: 2rem;

        @media screen and (max-width: 768px) {
            flex-basis: 90%;
        }
    }
}
